<head>
  <li class="mb-1" nk rel="preconnect" href="https://fonts.googleapis.com">
  <li class="mb-1" nk rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <li class="mb-1" nk href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<footer class="bg-[#2A2A2A] ">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="flex flex-wrap md:flex-nowrap justify-between gap-8 mb-8">

      <div class="space-y-4 max-w-xs">

        <div class="flex items-center gap-2">
          <div class="text-yellow-600 text-2xl"> 
            <a href="#"><img src="assets/img/logo.png" alt="Roll The Credits"></a>
          </div>
          <h2 class="text-xl text-neutral-100">Roll The Credits</h2>
        </div>

        <span><p>Sua fonte confiável de críticas e classificações de filmes. Descubra os melhores filmes que valem a pena.</p></span>

        <div class="flex space-x-6 md:order-2 mt-6">

          <a href="#" class="text-[#F5EBD1] hover:text-[#D4A55D]">
            <span class="sr-only">Twitter</span>
            <img class="h-6 w-6" src="assets/img/twitter.svg" alt="">
          </a>

          <a href="#" class="text-[#F5EBD1] hover:text-[#D4A55D]">
            <span class="sr-only">Facebook</span>
            <img class="h-6 w-6" src="assets/img/facebook.svg" alt="">
          </a>

          <a href="#" class="text-[#F5EBD1] hover:text-[#D4A55D]">
            <span class="sr-only">Instagram</span>
            <img class="h-6 w-6" src="assets/img/instagram.svg" alt="">
          </a>

          <a href="#" class="text-[#565656] hover:text-[#D4A55D]">
            <span class="sr-only"> email</span>
            <img class="h-6 w-6" src="assets/img/email.svg" alt="">
          </a>

        </div>

      </div>

      <div class="flex flex-row gap-30 w-full">
        
        <div class="">
          <span>
            <h1 class="mb-4 text-lg" > Explorer </h1>
          </span>  
            <ul>
              <li class="mb-1" ><a class="hover:text-neutral-300" href="">Home</a></li>
              <li class="mb-1" ><a class="hover:text-neutral-300" href="">Todos Os Filmes</a></li>
              <li class="mb-1" ><a class="hover:text-neutral-300" href="">Log-In</a></li>
              <li class="mb-1" ><a class="hover:text-neutral-300" href="">Busque Filmes</a></li>
            </ul>
        </div>

        <div class="">
          <span>
            <h1 class="mb-4 text-lg"> Resources</h1>
          </span>
          <ul>
            <li class="mb-1" ><a class="hover:text-neutral-300" href="">Se Torne Um Critíco</a></li>
            <li class="mb-1" ><a class="hover:text-neutral-300" href="">Como Avaliamos</a></li>
            <li class="mb-1" ><a class="hover:text-neutral-300" href="">Sobre Nós</a></li>
            <li class="mb-1" ><a class="hover:text-neutral-300" href="">Contato</a></li>
          </ul>
        </div>

      </div>

      <div class="w-full">
        <span>
          <h1 class="mb-4 text-lg"> Fique Atualizado </h1>
        </span>  
        <p class="mb-4">Assine nossa newsletter para receber
          as últimas críticas e notícias sobre filmes.</p>
        <form class="flex">
          <input
            type="email"
            placeholder="Seu E-mail"
            class="placeholder-[#9CA3AF] w-full rounded-l-md border border-neutral-600 bg-neutral-800 px-3 py-2 text-sm focus:outline-none focus:ring-1 focus:ring-yellow-500"
          />
          <button
            type="submit"
            class="rounded-r-md bg-[#D4A55D] px-4 py-2 text-sm font-semibold text-neutral-900 hover:bg-yellow-500"
          >
            Entrar
          </button>
        
        </form>
      </div>

    </div>

    <div class="border-t border-primary-gray/20 pt-8 md:flex md:items-center">
      <p class="text-xs text-[#B4A47B] md:mt-0 md:order-1">
        &copy; 2025 Roll The Credits. All rights reserved.
      </p>
    </div>
  </div>
  
</footer>